body {
    margin: 0px;
    background-color: rgb(131, 157, 217);
}

.grid-container {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-logo {
    margin-left: 16px;
    margin-top: 8px;
    width: 65px;
    height: 65px;
    z-index: 100;
    position: absolute;
    transition: 0.3s;
}

.nav-logo:hover {
    transition: 0.5s;
    width: 67px;
    margin-left: 15px;
    margin-top: 7px;
    height: 67px;
    -webkit-filter: drop-shadow(0px 0px 10px black);
    filter: drop-shadow(0px 0px 10px black);
}

.nav-item {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    text-shadow: none;
    transition: .3s;
}

#new-password-box {
    border: 1px solid black;
    margin-left: 10px;
    margin-right
}

.nav-item:hover {
    text-shadow:  0px 0px 20px black;
    color: black;
    font-size: 25px;
    transition: 0.5s;
}

#navbar {
    z-index: 0;
    height: 65px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    align-items: center;
}