body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: black;
}

body{
    margin: 0;
}

.nav-logo {
    float: left;
}

.navbar {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;

}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    --h: 1.2em;   /* the height */

    line-height: var(--h);
    color: #0000;
    text-shadow: 
    0 calc(-1*var(--_t,0em)) #000, 
    0 calc(var(--h) - var(--_t,0em)) #2c3589;
    overflow: hidden;
    transition: .3s;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 12px;
}
.nav-item:hover {
    --_t: var(--h);
}

#current-page {
    --h: 1.2em;   /* the height */

    line-height: var(--h);
    color: #2c3589;
    text-shadow: 
    0 calc(-1*var(--_t,0em)) #000, 
    0 calc(var(--h) - var(--_t,0em)) #2c3589;
    overflow: hidden;
    transition: .3s;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 12px;
}

#nav-spacer {
    margin-left: 256px;
}


#pride-section {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    font-size: 16px;
    margin-left: 128px;
    margin-right: 128px;
}

.title {
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    text-align: center;
}

#banner-video {
    display: block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 60%;
}

th {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #2c3589;
}

td {
    padding-left: 5px;
}
