body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: gray;
}

body::-webkit-scrollbar-thumb {
    background: black;
}

body::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

body{
    margin: 0;
}

.nav-logo {
    float: left;
}

.navbar {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;

}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    --h: 1.2em;   /* the height */

    line-height: var(--h);
    color: #0000;
    text-shadow: 
    0 calc(-1*var(--_t,0em)) #000, 
    0 calc(var(--h) - var(--_t,0em)) #2c3589;
    overflow: hidden;
    transition: .3s;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 12px;
}
.nav-item:hover {
    --_t: var(--h);
}

#current-page {
    --h: 1.2em;   /* the height */

    line-height: var(--h);
    color: #2c3589;
    text-shadow: 
    0 calc(-1*var(--_t,0em)) #000, 
    0 calc(var(--h) - var(--_t,0em)) #2c3589;
    overflow: hidden;
    transition: .3s;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 12px;
}

#nav-spacer {
    margin-left: 256px;
}


#pride-section {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    font-size: 16px;
    margin-left: 128px;
    margin-right: 128px;
}

.title {
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    text-align: center;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-size: 256px;
    line-height: 0px;
    text-align: center;
    margin-top: 256px;
    margin-bottom: 256px;
}

#banner-video {
    display: block;
}

#flow-image-yellow {
    margin-top: 64px;
    display: block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-top: 64px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 60%;
}

th {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #2c3589;
}

td {
    padding-left: 5px;
}

.instagram-media {
    margin-top: 64px !important;
    width: 512px !important;
    height: 550px !important;
    margin:0 auto!important;
}

#facebook {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.calendar {
    width: 384px;
    height: 256px;
    text-align: center;
}

.game {
    color: white;
    background-color: green;
}

.practice {
    color: white;
    background-color: orange;
}

#practice-color {
    color: orange;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}

#game-color {
    text-align: center;
    color: green;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.photos {
    margin-top: 64px;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 64px;
    background-color: #8a8a8a;
}

#first-footer {
    margin-top: 0px;
    background-color: #bc910e;
}

footer a {
    margin-left: 64px;
    margin-right: 64px;
    color: black;
    transition: 0.3s;
    text-decoration: none;
}

footer a:hover {
    color:  white;
    transition: 0.3s;
}

.photos-link {
    margin-top: 64px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}