/* Removes arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar {
    width: 0rem;
}

body {
    background-image: url(background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    font-size: 0px;
}

img {
    width: 100%;
    margin: 0px;
}

#title {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#title h1 {
    margin-top: 30px;
    font-size: 128px;
    margin-bottom: -40px;
}

#title h2 {
    font-size: 32px;
    margin-top: 0px;
}

.grid-container {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.element {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
    height: 384px;
}

.element:hover {
    box-shadow: 0px 0px 10px white;
    transition: 0.5s;
    margin: 5px;
    height: 394px;
}

.element-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: -20px;
}

.equation-link {
    margin-top: 0px;
    color: gray;
    font-size: 24px;
    transition: 0.3s;
}

.equation-link:hover {
    color: black;
    transition: 0.3s;
}

form {
    margin: 20px;
    margin-top: -15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}


input[type=number] {
    width: 128px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 4px;
    background: #041220;
    color: white;
}

button {
    background-color: #4074fc;
    border: white;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    padding: 3px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    transition: 0.2s;
}

button:hover {
    background-color: #3a68e3;
    transition: 0.1s;
    box-shadow: 0px 0px 3px black;
}

#emc2 {
    margin-top: 190px;
}

#fnet {
    margin-top: 168px;
}

#ehv {
    margin-top: 190px;
}

#at2 {
    margin-top: 87px;
}